*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

.editor-container{
	position: relative;
}

.editor-container > div{
	background-color:#f3f3f3; 
	padding:10px 20px;
	outline:none;
	border:.5px solid #ccc;
	margin:30px;
	height:300px;
	position: relative;
}
